@charset "utf-8";
/* CSS Document */

.empty {
          width: 500px; 
          height: 250px; 
		  
		  padding:10px;
		  margin:0px auto; /*適用於大部分瀏覽器的 DIV 置中語法*/
		  
          background-color:#FFF0F5;	
          -moz-border-radius:20px;	
          -webkit-border-radius:20px;	
          border-radius:20px;
          cellspacing:0;
          cellpadding:0;
          bordercolorlight:darkgray;
          border:0;
}

