<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>IR 成員介紹 | IR</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<script src="../static/bootstrap/js/jquery.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<style>
	.all_font{
		font-family:Microsoft JhengHei;
		background-color:#eee;
	}
	.h1 h2 h3 h4{
		font-family:Microsoft JhengHei;
	}
	.title-logo{
		font-size:20px;
	}
	.carousel-control.right{
		background-image: none;
	}
	.carousel-control.left{
		background-image: none;
	}
	.intro-social-buttons2{
		margin-top:10px;
	}
	.top-bar{
		margin-top:70px;
	}
	.top-bar2{
		margin-top:15px;
	}
	.top-bar3{
		margin-top:50px;
	}
	.caption2{
		padding-right: 5px;
		padding-left: 15px;
	}
	.caption3{
		margin:4px;
	}
</style>

<body class="all_font">

	<!--導覽列-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">校務研究辦公室</a>
			</div>
			</div>
		</div>
	</nav>

	<!--分隔1-->
	<div class="top-bar"></div>

	<!--課程一覽-->
	<div class="container-fluid">
	<!--<div class="container">-->
    <h2>成員介紹</h2>
    <div class="panel panel-default">
    <div class="panel-body" style="line-height:30px;">Office of Institutional Research，簡稱IR Office，是為了建構以實證資訊為基礎之富科學化的校務決策文化，以落實學生學習成效本位之績效評估，並進以強化本校教學卓越特色及確保校務之永續發展、持續創新發展與自我提升超越。</div>
    </div>
    <div class="panel panel-default">
    <!--<div class="panel-heading">成員介紹</div>-->
    <div class="panel-body">

    <table class="table table-striped">
        <thead>
          <tr>
            <th>姓名</th>
            <th>職稱</th>
            <th>學經歷</th>
            <th>專長</th>
            <th>工作項目</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="width:10%;">陳振貴</td>
            <td>• 校務研究辦公室總督導(代理)<br><br> • 現職：實踐大學校長</td>
            <td>• 學歷：美國佛羅里達諾瓦大學高等教育研究所教育學博士<br><br>• 經歷： 中華民國青芯志工服務協會創會理事長、中華民國社區發展協會秘書長、行政院青輔會諮詢委員</td>
            <td>• 高等暨技職教育行政與管理<br>• 高教評鑑<br>• 社區教育<br>• 教育與宗教哲學<br>• 商用與觀光英文<br>• 中美關係</td>
            <td>• 負責校務研究事務之推動及執行成效之總督導<br><br>• 對外、對內校務研究事務之決行。</td>
          </tr>
          <tr>
            <td style="width:10%;">丁斌首</td>
            <td>• 校務研究辦公室督導<br><br> • 現職：高雄校區副校長</td>
            <td>• 學歷：臺灣科技大學管理學博士<br><br>• 經歷：實踐大學總務長<br> • 行政院公共工程委員會採購評選委員<br> • 中華民國職訓研發中心就業學程評鑑委員</td>
            <td>• 生產與作業管理<br> • 產業競爭分析<br> • 管理科學<br> • 系統思考</td>
            <td>• 督導高雄校區之校務研究事務之推動與執行<br> • 校務研究計畫方向之規劃。</td>
          </tr>
          <tr>
            <td style="width:10%;">魏上淩</td>
            <td>• 校務研究辦公室主任<br> • 校務規劃與發展組召集人</td>
            <td>• 學歷：台灣大學商學研究所策略管理博士<br><br>• 經歷：實踐大學國際經營與貿易學系副教授兼系主任<br> • 經濟部商業司SIIR計畫評審委員</td>
            <td>• 策略管理<br> • 行銷管理<br> • 產業分析</td>
            <td>• 校務研究工作規劃與協調<br> • 綜理校務研究工作之實際執行<br> • 負責校務規劃與發展組之協調與執行</td>
          </tr>
          <tr>
            <td style="width:10%;">江崇源</td>
            <td>• 校務規劃與發展組研究員<br><br> • 現職：研發長</td>
            <td>• 學歷：美國南美以美大學法律學博士<br><br>• 經歷：實踐大學教務處註冊組長</td>
            <td>• 民法<br> • 國際貿易法</td>
            <td>• 依據相關議題分析結果，進行校務規劃與發展之研擬、協調與執行</td>
          </tr>
          <tr>
            <td style="width:10%;">王慧敏</td>
            <td>• 資訊分析與研究組召集人</td>
            <td>• 學歷：國立政治大學教育學博士<br><br>• 經歷：實踐大學教學發展一中心研究員</td>
            <td>• 課程與教學設計<br> • 輔導與發展<br> • 親職教養</td>
            <td>• 負責資訊分析與研究組之協調與執行<br> • 相關議題分析討論、規劃與執行</td>
          </tr>
          <tr>
            <td style="width:10%;">陳虹伶</td>
            <td>• 資訊分析與研究組研究員<br><br>• 現職：教學發展中心主任、教學卓越計畫辦公室副執行長</td>
            <td>• 學歷：國立政治大學財務管理所博士<br><br>• 經歷：中國科技大學專任助理教授<br> • 中美經濟合作策進會雙週電子報-總體經濟新聞撰文</td>
            <td>• 財務分析<br> • 統計軟體應用<br> • 時間序列分析</td>
            <td>• 負責資訊分析與研究之執行<br> • 相關議題分析討論、規劃與執行</td>
          </tr>
          <tr>
            <td style="width:10%;">何曉瑋</td>
            <td>• 資訊分析與研究組研究員<br><br>• 現職：入學服務中心主任</td>
        <td>• 學歷：中央大學財務金融所博士<br> • 政治大學統計學研究所碩士<br><br>• 經歷：研究發展處學術推廣組組長</td>
            <td>• 財務工程<br> • 衍生性金融商品<br> • 統計分析</td>
            <td>• 負責資訊分析與研究之執行<br> • 相關議題分析討論、規劃與執行</td>
          </tr>
          <tr>
            <td style="width:10%;">李建國</td>
            <td>• 資料建置組召集人<br><br> • 現職：圖資長</td>
           <td>• 學歷：美國密蘇里大學電機與電腦工程博士<br><br>• 經歷：實踐大學電子計算機中心主任、註冊組組長</td>
            <td>• 智慧型系統<br> • 類神經網路<br> • 演化式計算</td>
            <td>• 負責資料建置組之協調與執行<br> • 校務研究資料庫建置規劃<br> • 相關議題分析資料彙整與提供</td>
          </tr>
          <tr>
            <td style="width:10%;">羅健銘</td>
            <td>• 資料建置組研究員<br><br> • 現職：副圖資長、資訊管理學系系主任</td>
            <td>• 學歷：國立中山大學電機博士<br><br>• 經歷：永達技術學院資管系系主任</td>
            <td>• 資料庫管理<br> • 中文語意處理介面<br> • 程式設計</td>
            <td>• 負責高雄校區資料建置之協調與執行<br> • 相關議題分析資料彙整與提供</td>
          </tr>
          <tr>
            <td style="width:10%;">李孟晃</td>
            <td>• 資料建置組研究員</td>
            <td>• 學歷：國立台灣大學資訊工程博士<br><br> • 經歷：實踐大學學生事務長、教學卓越計畫辦公室副執行長、電子計算機中心主任、資管系主任</td>
            <td>• 網路教學<br> • 資料庫管理<br> • 研究方法</td>
            <td>• 執行校務研究資料庫建置工作</td>
          </tr>
          <tr>
            <td style="width:10%;">鄭王駿</td>
            <td>• 資料建置組研究員</td>
            <td>• 學歷：國立清華大學資訊科學博士<br><br> • 經歷：實踐大學電子計算機中心主任、精業電腦公司主任工程師、資訊工業策進會產品開發處資深工程師</td>
            <td>• 網際網路計算<br> • 網路安全<br> • 嵌入式系統<br> • 自由軟體</td>
            <td>• 執行校務研究資料庫建置工作</td>
          </tr>
          <tr>
            <td style="width:10%;">梁淑美</td>
            <td>• 行政專員</td>
            <td>• 學歷：實踐大學財務金融學系學士<br><br> • 經歷：實踐大學財務金融學系執行秘書</td>
            <td>• 財務分析<br> • 行政庶務</td>
            <td>• 負責校務研究辦公室之所有行政庶務工作<br> • 辦公室經費編列與核銷</td>
          </tr>
        </tbody>
      </table>

    </div>
    </div>



	<!--</div>-->
<!--
		<div class="text-center">
			<nav>
				<ul class="pagination">
				<li><a href="#"><span aria‐hidden="true">&laquo;</span><span class="sr‐only"></span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li class="disabled"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><span aria‐hidden="true">&raquo;</span><span class="sr‐only"></span></a></li>
				</ul>
			</nav>
		</div>-->
	</div>

	<!--分隔3-->
	<!--<div class="top-bar3"></div>-->

	<!--尾端標題-->
	<div class="banner">
		<div class="container">
			<div class="row">
				<a href="/">
					<div class="col-md-12 footer-h2 footer-link" >
						<h2>實踐大學 校務研究辦公室</h2>
					</div>
				</a>
			</div>
		</div>
	</div>

	<!--尾端-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--<ul class="list-inline">
						<li>
							<a href="news.html">最新消息</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="about.html">關於學程</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="list.html">課程一覽</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="contact.html">聯絡我們</a>
						</li>
					</ul>-->
					<p class="copyright text-muted small">Copyright &copy; 實踐大學校務研究辦公室 2017. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
